Package: acreson.zq.fkwechatzan
Name: WeChatZan 集赞评论助手
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: 微信集赞，评论插件，随意设置点赞数量和评论。集赞换礼品终结杀手！多人测试6.7.4以下闪退，建议7.0+
Maintainer: Acreson
Author: xia0
Section: Acreson-增强(Enhance)
Icon: file:///Applications/Cydia.app/Sections/Wallpaper.png
